*{
	font-family: 'Titillium Web', monospace;
}

body{
	margin: 0;
	background-color: #dbdbdb;
}

.wrapper{
	width: 1000px;
	margin: auto;
}

#aboutSection{
	height: 500px;
	background-image: url(images/aboutBG.png);
	background-size: 100vw;
	background-repeat: no-repeat;
}

#projectSection{
	padding: 0 8vw;
	height: 600px;
	background-color: #dbdbdb;
}

#navContainer{
	padding-top: 20px;
}

#navBar{
	margin: auto;
	background-color: white;
	height: 50px;
	width: 1000px;
  	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

#navBar p{
	display: inline-block;
	font-size: 1.1em;
	text-transform: uppercase;
}

#links{
	color: #a8a8a8;
	float: right;
	margin: auto;
	padding: 11.5px 20px 11.5px 0;
}

#logo{
	color: #5b5b5b;
	margin: auto;
	padding: 11.5px 0 11.5px 20px;
}

#profilePhoto{
	background-color: white;
	height: 150px;
	width: 150px;
	margin: 80px auto 60px auto;
  	box-shadow: 0px 11px 32px 0px rgba(0, 0, 0, 0.05);
}

#aboutSection h1{
	text-align: center;
	color: white;
	margin: none;
}

#projectSection h2{
	font-weight: 700;
	font-size: 1em;
	margin: 30px 0;
}

#profilePhoto:hover{
	box-shadow: 0px 11px 32px 0px rgba(0, 0, 0, 0.1);
}

#contactSection p{
	text-align: center;
}

#projectSection div{
	background-color: white;
	height: 380px;
	width: 200px;
	display: inline-block;
}

@media (max-width: 1000px){
	#aboutSection{
		background-size: 100vh;
	}
}